.main-container{
    background-color: #dccef0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.todo-box{
    padding: 40px;
    background-image: url(../assets/images/note.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    transition: all .2s ease-in-out;
}

.todo-box-done{
    padding: 40px;
    background-image: url(../assets/images/green-note.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}

.myheader{
    background-color: #0d6efd;
    background-image: url(../assets/images/bgm.jpg);
}

#validateName, #validateDescription, #validateAssigned, #validateDate, #validateStatus {
    color: red;
}

/* HTML style */
#create-a-task {
    margin: 0 auto;
    color: #5972b5;
}

/* STYLE BUTTONS */
#saveBtn {
    float: right;
    padding: 0.75em 2em;
    font-size: 1.1rem;
    background-color: #5972b5;
    border: #5972b5;
}

/* MODAL DESIGN */
.modal-header {
    background-color: #5972b5;
    color: white;
}

.Done{
    background-image: url(../assets/images/green-note.png); 
}

.Donehide{
    display: none;
}

body {
    background: #dccef0;
}

/*button edit */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v134/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /*-webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;*/
}
.edit-button {
    color: #000000;
    padding:0;
    border: 1px solid black;
    background: none;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.todo-box:hover {
    transform: scale(1.1);
}